In [11]:
import pandas as pd
import numpy as np

In [12]:

# Reading the raw data
url_raw = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

# Defining column headers (taken from the dataset documentation)
columns = [
    "symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"
]

# Creating a DataFrame
df = pd.read_csv(url_raw, header=None)  # Load the raw data without headers
df.columns = columns  # Assign the column headers to the DataFrame

# Saving the data as a CSV file
file_path = 'auto.csv'


print(f'Data has been saved to {file_path}')

Data has been saved to auto.csv

In [13]:
file_name="auto.csv"
df = pd.read_csv(file_name)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [14]:
#Check the bottom 10 rows of data frame "df"
df.tail(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [17]:
#clean data
df1=df.replace('?',np.NaN)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [18]:
df1.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [19]:
# Strip whitespace from column names to ensure proper matching
df1.columns = df1.columns.str.strip()

# Convert any non-numeric values in selected columns to NaN (including extra spaces or symbols)
df1[['normalized-losses', 'bore', 'stroke', 'horsepower', 'peak-rpm']] = \
    df1[['normalized-losses', 'bore', 'stroke','horsepower', 'peak-rpm']].apply(pd.to_numeric, errors='coerce')

# Recheck for missing values after conversion and filling
print("Before filling missing values:")
print(df1[['normalized-losses', 'bore', 'stroke','horsepower', 'peak-rpm']].isna().sum())

# Calculate the mean of each column (ignoring NaN values)
mean_values = df1[['normalized-losses', 'bore', 'stroke','horsepower', 'peak-rpm']].mean()

# Replace NaN values with the calculated mean for each column
df1[['normalized-losses', 'bore', 'stroke','horsepower', 'peak-rpm']] = \
    df1[['normalized-losses', 'bore', 'stroke','horsepower', 'peak-rpm']].fillna(mean_values)

# Recheck for missing values after filling
print("After filling missing values:")
print(df1[['normalized-losses', 'bore', 'stroke','horsepower', 'peak-rpm']].isna().sum())

Before filling missing values:
normalized-losses    41
bore                  4
stroke                4
horsepower            2
peak-rpm              2
dtype: int64
After filling missing values:
normalized-losses    0
bore                 0
stroke               0
horsepower           0
peak-rpm             0
dtype: int64

In [22]:
df1['num-of-doors'].describe()

count      203
unique       2
top       four
freq       114
Name: num-of-doors, dtype: object

In [23]:
df1[['length', 'compression-ratio']].describe()

           length  compression-ratio
count  205.000000         205.000000
mean   174.049268          10.142537
std     12.337289           3.972040
min    141.100000           7.000000
25%    166.300000           8.600000
50%    173.200000           9.000000
75%    183.100000           9.400000
max    208.100000          23.000000

In [26]:
# Saving the DataFrame to a CSV file
output_file = 'output_file.csv'
df1.to_csv(output_file, index=False)  # index=False ensures that the index is not saved in the file
print(f"Output file has been saved: {output_file}")

Output file has been saved: output_file.csv